<!-- 左侧列表 -->

<div class="navbar-inverse navbar-collapse" style="background-color: white;">
	<ul class="nav" style="background-color: white;">
		<li>
			<a href="#sub1" data-toggle="collapse">学生信息管理<span class="glyphicon glyphicon-chevron-right pull-right"></a>
			<ul id="sub1" class="nav collapse">
				<li>
					<a href="#" onclick="menuClick('./subs/sub1-1.html')"><span class="glyphicon glyphicon-user"></span>&nbsp;查询学生信息</a>
					<a href="#" onclick="menuClick('./subs/sub1-2.html')"><span class="glyphicon glyphicon-user"></span>&nbsp;添加学生信息</a>
				</li>
			</ul>

			<a href="#sub2" data-toggle="collapse">校园大数据<span class="glyphicon glyphicon-chevron-right pull-right" /></a>
			<ul id="sub2" class="nav collapse">
				<li>
					<a href="#" onclick="menuClick('./subs/sub2-1.html')"><span class="glyphicon glyphicon-user"></span>&nbsp;校园基本数据</a>
				</li>
			</ul>

			<a href="#sub3" data-toggle="collapse">选课信息管理<span class="glyphicon glyphicon-chevron-right pull-right" /></a>
			<ul id="sub3" class="nav collapse">
				<li>
					<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;显示选课信息</a>
					<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;添加选课信息</a>
				</li>
			</ul>

			<a href="#sub4" data-toggle="collapse">成绩信息管理<span class="glyphicon glyphicon-chevron-right pull-right" /></a>
			<ul id="sub4" class="nav collapse">
				<li>
					<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;显示成绩信息</a>
					<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;添加成绩信息</a>
				</li>
			</ul>

			<a href="#sub5" data-toggle="collapse">教师信息管理<span class="glyphicon glyphicon-chevron-right pull-right" /></a>
			<ul id="sub5" class="nav collapse">
				<li>
					<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;显示教师信息</a>
					<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;添加教师信息</a>
					<a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;修改教师密码</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
