

<ol class="breadcrumb">
	<li class="breadcrumb-item"><a href="#">首页</a></li>
	<li class="breadcrumb-item"><a href="#">学生信息管理</a></li>
	<li class="breadcrumb-item active">查询学生信息</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">学生信息</h3>
  </div>
  <div class="panel-body">


      <div class="sub1-1_table_header">
          搜索学号：
          <div class="layui-inline">
              <input class="layui-input" name="id" id="reloadKey" autocomplete="off">
          </div>
          <button class="layui-btn" data-type="reload">搜索</button>
      </div>

      <table id="sub1-1_table" lay-filter="test"></table>


  </div>
</div>





